@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');


html{
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(223, 19%, 93%);
}

section {
  width: 50%;
  margin: 50px;
}

.hidden {
  display: none;
}

#non {
  display: none;
}

.show {
  display: block;
}

.top-container .replying {
  height: 120px;
  margin: 10px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  color: hsl(212, 24%, 26%);
}

.top-container .replying .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-container .replying .content img {
  transform: scale(0.8);
  padding-bottom: 55px;
}

.top-container .replying .content textarea {
    width: 80%;
    height: 80px;
    resize: none;
    border-radius: 10px;
    border: 2px solid hsl(212, 24%, 26%);
    margin-right: 10px;
    margin-left: 10px;
    padding: 5px;
    font-family: 'Rubik',sans-serif;
    font-size: 18px;
    padding: 10px;
}

.top-container .replying .content button {
  cursor: pointer;
  padding: 15px 30px;
  border-radius: 10px;
  margin-bottom: 55px;
  border: none;
  background-color: hsl(238, 40%, 52%);
  color: white;
}

 .commentadd {
  display: flex;
  flex-direction: row;
  width: 73%;
  /* justify-content: space-around; */
  margin: 10px;
  margin-left: 19%;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.comment_content2 {
  display: flex;
  flex-direction:column;
}

.comment_content2 .profile2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 15px;
}

.comment_content2 .profile2 .pro2{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
}

.comment_content2 .profile2 .pro2 img {
  padding-right: 10px;
}

.comment_content2 .profile2 .pro2 p {
  font-size: 12px;
}

.comment_content2 .profile2 .pro2 h3 {
  padding-right: 10px;
}

.comment_content2 .profile2 .icons2 {
  display: flex;
  padding: 10px;
}

.comment_content2 .profile2 .icons2 button{
  cursor: pointer;
  margin-left: 10px;
  display: flex;
  height: 50px;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.comment_content2 .profile2 .icons2 button img {
  margin-right: 5px;
}

.comment_content2 .profile2 .icons2 button h3{
  color: hsl(238, 40%, 52%);
}



 .comment1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

 .comment_content .pro {
  display:flex;
  width: 50%;
  align-items: center;
  margin: 0;
  padding: 0;
}
 .comment_content .pro img {
  transform: scale(0.6);
}

.comment_content .pro h3 {
  font-size: 16px;
  color: hsl(212, 24%, 26%);
  font-weight: 500;
}

.comment_content .pro p{
  font-size: 12px;
  font-weight: 500;
  padding-left: 10px;
  color:hsl(211, 10%, 45%);
}

.likes-adder {
  background-color: white;
  padding: 8px;
  margin: 10px 20px 10px 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  border-radius: 10px;
}

.likes-adder p {
  font-weight: 700;
  color: hsl(238, 40%, 52%);
  margin: 9px 0;
}

.likes-adder button {
  background-color: white ;
  border: none;
  font-size: 20px;
  color: hsl(211, 10%, 45%);
  cursor: pointer;
  transition: all ease 0.4s;
}

.likes-adder button:hover {
  color: red;
  transform: scale(2);
  transform: rotate(180deg);
}

.comment1 .comment_content{
  display: flex;
  flex-direction: column;
  height: 40%;
}
 .comment1 .comment_content .profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

 .comment1 .comment_content .profile .icon_1 button {
  display:flex;
  align-items: center;
  width: 75px;
  justify-content: space-between;
  border: none;
  cursor: pointer;
  color: hsl(238, 40%, 52%);
  font-weight: 400;
  font-size: 14px;
} 

 .comment1 .comment_content  .comment_para p {
  color: hsl(211, 10%, 45%);
  padding-left: 10px;
  margin: 0;
  line-height: 23px
}

/* middle container */

.side-line {
  display: flex;
  align-items: center;
}

.line {
  position: absolute;
  left: 30%;
  width: 1px;
  height: 270px;
  background-color: hsl(211, 11%, 64%);
}


.middle-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 83%;
  margin: 10px;
  margin-left: 13%;
  background: white;
  padding: 10px;
  border-radius: 10px;
}

.comment2 {
  width: 100%;
  display: flex;
  margin: 10px;
  margin-bottom: 20px;
}

.comment2 .likes-adder2 {
  background-color: white;
  padding: 8px;
  margin: 10px 20px 10px 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.likes-adder2 p {
  font-weight: 700;
  color: hsl(238, 40%, 52%);
  margin: 9px 0;
}

.likes-adder2 button {
  background-color: white ;
  border: none;
  font-size: 20px;
  color: hsl(211, 10%, 45%);
  cursor: pointer;
}

.comment_content2 .profile2 {
  display: flex;
  justify-content: space-between;
}


.comment_content2 .profile2 .pro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment_content2 .profile2 .pro img{
  transform: scale(0.6);
}

.comment_content2 .profile2 .pro h3 {
  font-size: 16px;
  color: hsl(212, 24%, 26%);
  font-weight: 700;
}

.comment_content2 .profile2 .pro p {
  font-size: 12px;
  font-weight: 500;
  padding-left: 10px;
  color:hsl(211, 10%, 45%);
}

.comment_content2 .icon_2 {
  padding-right: 20px;
}

.comment_content2 .icon_2 button {
  display:flex;
  align-items: center;
  width: 75px;
  justify-content: space-between;
  border: none;
  cursor: pointer;
  color: hsl(238, 40%, 52%);
  font-weight: 400;
  font-size: 14px;
}

.comment_content2  .comment_para p {
  color: hsl(211, 10%, 45%);
  padding-left: 10px;
  margin: 0;
  line-height: 23px
}

/* comment */

.comment {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px;
  margin-bottom: 20px;
}

.comment .likes-adder3{
  background-color: white;
  padding: 8px;
  margin: 10px 20px 10px 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.likes-adder3 p {
  font-weight: 700;
  color: hsl(238, 40%, 52%);
  margin: 9px 0;
}

.likes-adder3 button {
  background-color: white ;
  border: none;
  font-size: 20px;
  color: hsl(211, 10%, 45%);
  cursor: pointer;
}

.comment_content3 .profile3 {
  display: flex;
  justify-content: space-between;
}

.comment_content3 .profile3 .pro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment_content3 .profile3 .pro img{
  transform: scale(0.6);
}

.comment_content3 .profile3 .pro h3 {
  font-size: 16px;
  color: hsl(212, 24%, 26%);
  font-weight: 700;
}

.comment_content3 .profile3 .pro h4 {
  text-align: center;
  justify-items: center;
  padding: 2px 5px;
  color: white;
  border-radius: 5px;
  font-weight: 400;
  margin: 0 10px;
  background: hsl(238, 40%, 52%) ;
}

.comment_content3 .profile3 .pro p {
  font-size: 12px;
  font-weight: 500;
  padding-left: 10px;
  color:hsl(211, 10%, 45%);
}

 .icons {
  display: flex;
  width: 180px;
  padding-right: 19px;
  justify-content: space-evenly;
}

 .icons button {
  display:flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  cursor: pointer;
  color: hsl(238, 40%, 52%);
  font-weight: 400;
  font-size: 14px;
}

 .icons button h3 {
  padding: 0px 0 0 8px;
}

.comment_content3  .comment_para p {
  color: hsl(211, 10%, 45%);
  padding-left: 10px;
  margin: 0;
  line-height: 23px
}

.reply_name {
  color: hsl(238, 40%, 52%);
  font-weight: 700;
}

.bottom-container {
  height: 140px;
  border-radius: 10px;
}

.bottom-container .bot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-container .bot img {
  transform: scale(0.8);
  margin: 0;
  padding: 0 10px;
  padding-bottom: 40px;
}

.bottom-container .bot textarea{
  width: 100%;
  height: 80px;
  resize: none;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  margin: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: left;
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  color:hsl(211, 10%, 45%) ;
  cursor: pointer;
}

.bottom-container .bot button {
  background: hsl(238, 40%, 52%);
  color: white;
  font-weight: 700;
  cursor: pointer;
  padding: 10px 20px;
  margin: 0 10px;
  margin-bottom: 50px;
  border-radius: 10px;
  border: none;
}

.replytor {
  display: flex;
  width: 95%;
  padding: 20px;
}

.replytor .contenttor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.replytor .contenttor img{
  transform: scale(0.8);
  margin-bottom: 40px;
  margin-right: 10px;
}

.replytor .contenttor textarea {
  width: 350px;
  height: 80px;
  resize: none;
  border: 2px solid hsl(211, 10%, 45%);
  border-radius: 10px;
  font-size: 18px;
  color: hsl(211, 10%, 45%);
}


.replytor .contenttor button {
  cursor: pointer;
  padding: 15px 30px;
  border-radius: 10px;
  margin-bottom: 45px;
  margin-left: 20px;
  border: none;
  background-color: hsl(238, 40%, 52%);
  color: white;
}

.notshow {
  display: none;
}

.okShow {
  display: flex;
}

#none {
  display: none;
}

.comment_para textarea {
  overflow: hidden;
  resize: none;
  width: 90%;
  height: 100px;
  padding: 10px;
  margin-left: 10px;
  border-radius: 10px;
  border: 2px solid  hsl(211, 10%, 45%);
  font-size: 16px;
  color: hsl(211, 10%, 45%);
}

.update {
  margin: 20px;
  margin-left: 75%;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  background:hsl(238, 40%, 52%) ;
  color: white;
  border-radius: 10px;
}

/* modal window */

.modal_window {
  background-color: white;
  width: 30%;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.modal_content {
  padding: 40px 20px 40px 30px;
  display: flex;
  flex-direction: column;
}

.modal_content h2 {
  margin: 0;
  color: hsl(211, 10%, 45%);
}

.modal_content p {
  width: 90%;
  color: hsl(211, 10%, 45%);
  font-weight: 400;
}

.modal_content .modal_buttons button {
  cursor: pointer;
  color: white;
  font-family: 'Rubik',sans-serif;
  margin-right: 10px;
  padding: 20px;
  border: none;
  border-radius: 10px;
}

.modal_content .modal_buttons .no {
  background: hsl(211, 10%, 45%);
}

.modal_content .modal_buttons .yes {
  background: hsl(358, 79%, 66%);
}

.hidd{
  display: none;
}

@media only screen and(max-width:380px) {
  
}